In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
df=pd.read_csv('Trading-features.csv')

In [39]:
df

,id,last_price,created_at,f1,f2,f3,f4,f5,f6,f7,...,f152,f153,f154,f155,f156,f157,f158,f159,f160,f161
0,55466910,43138.2,2023-12-27 12:47:41.916971,0.000463,15139,-43.1,43.0,-0.1,-4.8,-5.1,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
1,55466909,43138.2,2023-12-27 12:47:40.693372,0.000463,15140,-43.1,43.0,-0.1,-4.7,-5.1,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
2,55466908,43138.2,2023-12-27 12:47:39.968797,0.000463,15141,-37.4,43.0,5.6,-1.9,-0.6,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
3,55466907,43138.2,2023-12-27 12:47:38.919784,0.000463,15142,-37.4,37.4,0.0,-3.7,-6.2,...,695.2,-123.8,695.2,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2
4,55466906,43132.6,2023-12-27 12:47:37.881533,0.000463,15143,-39.6,36.5,-3.1,-3.7,-9.4,...,689.6,-129.4,689.6,-129.4,-129.4,689.6,689.6,-129.4,-129.4,689.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,55456903,42753.6,2023-12-27 10:00:09.874616,0.000414,25191,-29.5,29.4,-0.1,3.5,9.6,...,440.2,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2
9996,55456902,42753.6,2023-12-27 10:00:08.803069,0.000414,25192,-29.5,29.4,-0.1,3.4,9.6,...,440.2,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2
9997,55456901,42753.6,2023-12-27 10:00:07.957261,0.000414,25193,-36.7,36.6,-0.1,3.7,9.7,...,440.2,-41.3,440.2,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2
9998,55456900,42753.7,2023-12-27 10:00:06.730827,0.000414,25194,-36.7,48.5,11.8,22.6,21.6,...,440.3,-41.2,440.3,-41.2,-41.2,440.3,440.3,-41.2,-41.2,440.3
9999,55456899,42765.6,2023-12-27 10:00:05.707968,0.000414,25196,-36.7,48.5,11.8,22.7,19.8,...,452.2,-29.3,452.2,-29.3,-29.3,452.2,452.2,-29.3,-29.3,452.2

In [44]:
df.dtypes

id              int64
last_price    float64
created_at     object
f1            float64
f2              int64
               ...
f157          float64
f158          float64
f159          float64
f160          float64
f161          float64
Length: 164, dtype: object

In [46]:
df['created_at']=pd.to_datetime(df['created_at'])

In [47]:
df['created_at']

0      2023-12-27 12:47:41.916971
1      2023-12-27 12:47:40.693372
2      2023-12-27 12:47:39.968797
3      2023-12-27 12:47:38.919784
4      2023-12-27 12:47:37.881533
                  ...
9995   2023-12-27 10:00:09.874616
9996   2023-12-27 10:00:08.803069
9997   2023-12-27 10:00:07.957261
9998   2023-12-27 10:00:06.730827
9999   2023-12-27 10:00:05.707968
Name: created_at, Length: 10000, dtype: datetime64[ns]

In [52]:
df['time_column']=None

In [56]:
df['hours']=None

In [57]:
df['minutes']=None

In [58]:
df['seconds']=None

In [53]:
df['time_column']=df['created_at'].dt.time

In [59]:
df['hours']=df['time_column'].apply(lambda x: x.hour)

In [67]:
df['minutes']=df['time_column'].apply(lambda x: x.minute)

In [68]:
df['seconds']=df['time_column'].apply(lambda x: x.second)

In [70]:
df

,id,last_price,created_at,f1,f2,f3,f4,f5,f6,f7,...,f156,f157,f158,f159,f160,f161,time_column,hours,minutes,seconds
0,55466910,43138.2,2023-12-27 12:47:41.916971,0.000463,15139,-43.1,43.0,-0.1,-4.8,-5.1,...,-123.8,695.2,695.2,-123.8,-123.8,695.2,12:47:41.916971,12,47,41
1,55466909,43138.2,2023-12-27 12:47:40.693372,0.000463,15140,-43.1,43.0,-0.1,-4.7,-5.1,...,-123.8,695.2,695.2,-123.8,-123.8,695.2,12:47:40.693372,12,47,40
2,55466908,43138.2,2023-12-27 12:47:39.968797,0.000463,15141,-37.4,43.0,5.6,-1.9,-0.6,...,-123.8,695.2,695.2,-123.8,-123.8,695.2,12:47:39.968797,12,47,39
3,55466907,43138.2,2023-12-27 12:47:38.919784,0.000463,15142,-37.4,37.4,0.0,-3.7,-6.2,...,-123.8,695.2,695.2,-123.8,-123.8,695.2,12:47:38.919784,12,47,38
4,55466906,43132.6,2023-12-27 12:47:37.881533,0.000463,15143,-39.6,36.5,-3.1,-3.7,-9.4,...,-129.4,689.6,689.6,-129.4,-129.4,689.6,12:47:37.881533,12,47,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,55456903,42753.6,2023-12-27 10:00:09.874616,0.000414,25191,-29.5,29.4,-0.1,3.5,9.6,...,-41.3,440.2,440.2,-41.3,-41.3,440.2,10:00:09.874616,10,0,9
9996,55456902,42753.6,2023-12-27 10:00:08.803069,0.000414,25192,-29.5,29.4,-0.1,3.4,9.6,...,-41.3,440.2,440.2,-41.3,-41.3,440.2,10:00:08.803069,10,0,8
9997,55456901,42753.6,2023-12-27 10:00:07.957261,0.000414,25193,-36.7,36.6,-0.1,3.7,9.7,...,-41.3,440.2,440.2,-41.3,-41.3,440.2,10:00:07.957261,10,0,7
9998,55456900,42753.7,2023-12-27 10:00:06.730827,0.000414,25194,-36.7,48.5,11.8,22.6,21.6,...,-41.2,440.3,440.3,-41.2,-41.2,440.3,10:00:06.730827,10,0,6
9999,55456899,42765.6,2023-12-27 10:00:05.707968,0.000414,25196,-36.7,48.5,11.8,22.7,19.8,...,-29.3,452.2,452.2,-29.3,-29.3,452.2,10:00:05.707968,10,0,5

In [71]:
df.fillna(0,inplace=True)

In [72]:
df1=df.isnull().sum()

In [73]:
df1[df1>0]

Series([], dtype: int64)

In [74]:
df['Prediction']=None

In [75]:
df['Prediction']=pd.Series([1 if current>previous else 0 if current<previous else 2 for current, previous in zip(df['last_price'], df['last_price'].shift())])

In [76]:
df['Prediction'].value_counts()

Prediction
2    3765
1    3223
0    3012
Name: count, dtype: int64

In [77]:
df1=df.drop('id',axis=1)

In [78]:
df1=df1.drop('created_at',axis=1)

In [79]:
df1=df1.drop('Prediction',axis=1)

In [93]:
df1

,last_price,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f155,f156,f157,f158,f159,f160,f161,hours,minutes,seconds
0,43138.2,0.000463,15139,-43.1,43.0,-0.1,-4.8,-5.1,-4.3,-15.2,...,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,12,47,41
1,43138.2,0.000463,15140,-43.1,43.0,-0.1,-4.7,-5.1,-2.4,-15.2,...,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,12,47,40
2,43138.2,0.000463,15141,-37.4,43.0,5.6,-1.9,-0.6,-2.4,-6.7,...,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,12,47,39
3,43138.2,0.000463,15142,-37.4,37.4,0.0,-3.7,-6.2,-10.2,-12.3,...,-123.8,-123.8,695.2,695.2,-123.8,-123.8,695.2,12,47,38
4,43132.6,0.000463,15143,-39.6,36.5,-3.1,-3.7,-9.4,-10.2,-12.4,...,-129.4,-129.4,689.6,689.6,-129.4,-129.4,689.6,12,47,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,42753.6,0.000414,25191,-29.5,29.4,-0.1,3.5,9.6,9.7,-23.7,...,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2,10,0,9
9996,42753.6,0.000414,25192,-29.5,29.4,-0.1,3.4,9.6,9.7,-21.5,...,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2,10,0,8
9997,42753.6,0.000414,25193,-36.7,36.6,-0.1,3.7,9.7,12.6,-21.4,...,-41.3,-41.3,440.2,440.2,-41.3,-41.3,440.2,10,0,7
9998,42753.7,0.000414,25194,-36.7,48.5,11.8,22.6,21.6,23.7,-9.6,...,-41.2,-41.2,440.3,440.3,-41.2,-41.2,440.3,10,0,6
9999,42765.6,0.000414,25196,-36.7,48.5,11.8,22.7,19.8,21.7,-7.3,...,-29.3,-29.3,452.2,452.2,-29.3,-29.3,452.2,10,0,5

In [94]:
df1=df1.drop('time_column',axis=1)

In [95]:
df3=df['Prediction']

In [96]:
X=np.asarray(df1)

In [97]:
y=np.asarray(df3)

In [98]:
from sklearn.model_selection import train_test_split

In [115]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [116]:
X_train.shape

(8000, 165)

In [117]:
y_train.shape

(8000,)

In [118]:
X_test.shape

(2000, 165)

In [119]:
y_test.shape

(2000,)

In [120]:
from sklearn import svm

In [121]:
classifier=svm.SVC()
classifier.fit(X_train,y_train)
y_predict=classifier.predict(X_test)

In [122]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.36      0.07      0.11       620
           1       0.39      0.16      0.23       654
           2       0.40      0.88      0.55       726

    accuracy                           0.39      2000
   macro avg       0.38      0.37      0.30      2000
weighted avg       0.38      0.39      0.31      2000